/* *************************************** */
/* ************ CONTACT ME *************** */
/* *************************************** */

.content-section {
  margin: 10rem 0 8rem 0;
}

article {
  display: grid;
  grid-template-columns: 40% 60%;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  padding: 5rem 0;
}

.content-article p {
  padding-right: 2rem;
}

.content-section .social-networks {
  margin-top: 2rem;
}

/* Responsive */

@media screen and (max-width: 1400px) {
  .content-section {
    margin: 10rem 0 4rem 0;
  }
  article {
    display: block;
    padding: 4rem 0;
  }
  .content-article p {
    padding: 2rem 0 2rem 0;
  }
  .content-section .social-networks {
    margin-top: 0;
  }
  .content-section .social-networks:nth-child(3) {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 740px) {
  .content-section {
    margin: 5rem 0 4rem 0;
  }
}

/* FORM */

.content-article form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 1.5rem;
}

label,
input::placeholder,
textarea::placeholder {
  font-family: var(--font-public);
  font-weight: 700;
  font-size: 1.3rem;
  text-align: left;
  line-height: 3rem;
  color: var(--grayish-dark-blue);
}

button {
  font-family: var(--font-public);
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.4rem;
  letter-spacing: 2px;
  color: white;
  background-color: var(--dark-blue);
  padding: 1.6rem 2.4rem;
  margin-top: 2rem;
  cursor: pointer;
  text-transform: uppercase;
  width: 200px;
}

button:hover {
  transform: scale(1.1);
}

label {
  opacity: 0.8;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.4;
}

input,
textarea {
  background-color: rgba(51, 50, 61, 0.1);
  border: none;
  width: 100%;
  padding: 1.6rem;
  margin-bottom: 2rem;
}

input:focus,
textarea:focus {
  outline: none !important;
  border-color: var(--desaturated-cyan);
  box-shadow: 0 0 3px var(--desaturated-cyan);
  background: rgba(51, 50, 61, 0.1);
}

/* input:focus:invalid,
textarea:focus:invalid {
  border: 1px solid var(--bright-red);
  background-color: rgba(51, 50, 61, 0.1);
} */

textarea {
  resize: none;
}

span {
  font-size: 1.2rem;
  font-family: var(--font-public);
  font-weight: 400;
  margin: 0.5rem 0;
}

/* FORM ----- Responsive */

@media screen and (max-width: 1400px) {
  .content-article form {
    margin: 3rem 0;
  }
  input,
  textarea {
    margin-bottom: 3rem;
  }
}
